[Unit]
Description=Java Application as a Service
ConditionPathExists=/opt/webapp/app.jar
After=network.target
Requires=postgresql.service
After=postgresql.service

[Service]
Type=simple
User=csye6225
Group=csye6225
WorkingDirectory=/opt/webapp
ExecStart=/bin/bash /opt/webapp/appStart.sh
Restart=always
RestartSec=3
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=csye6225

[Install]
WantedBy=multi-user.target